* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin-right: auto;
  margin-left: auto;
  max-width: 1024px;
  padding-right: 10px;
  padding-left: 10px;
}

.header {
  padding: 60px;
  text-align: center;
  background: black;
  color: white;
}

.utama ul {
  display: none;
  position: absolute;
  z-index: 2;
}

.utama:hover ul {
  display: block;
}

.utama ul li {
  display: block;
  background-color: #2980b9;
  width: 140px;
}

.main {
  display: block;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 2px solid black;
  min-height:350px;
}

.content {
  background-color: white;
  padding: 10px;
}

.footer {
  color: white;
  padding: 1px;
  text-align: center;
  background: black;
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black;
  font-size: 12px;
}

#form form input[type=text],
#form form textarea{
	padding:4px;
	width: 50%;
  text-align: center;
  margin-bottom:20px;
}